*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea
/build/
/buildSrc/build/
/app/debug/
/app/release/
/network/build/
/localDb/build/
/core/build/
/app/build/
/presentation/build/
